/* ---------------------------------------Custom colours */
:root {
  --my-red: #de5454;
  --my-green: #006600;
  --my-orange: #ff9747;
  --my-grey: #474747;
  --my-white: #fafafa;
}

/* ------------------------------------------------Fonts */
body {
  font-family: "Glory", sans-serif;
  color: var(--my-grey);
  padding-top: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6,
header a {
  font-family: "Josefin Sans", sans-serif;
  color: var(--my-grey);
}

/* -----------------------------------------------Header */
nav {
  background-color: var(--my-orange);
  height: 56px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

nav a,
nav li a {
  color: var(--my-grey);
}

.my-logo {
  position: absolute;
  display: inline-block;
  font-size: 2.5rem;
  padding-left: 1rem;
  font-weight: 600;
}

/* -------------------------------------------------home */
.hero-image-box {
  background: url("./../img/hero1.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
}

.card-panel {
  background-color: var(--my-white);
  color: var(--my-grey);
}

.browse-panel {
  margin-top: 500px;
}

/* ------------------------------------------------login */
.login-card {
  margin-top: 4rem;
}

/* ------------------------------------------------forms */
/* focus colours */
.input-field input:not(.browser-default):focus:not([readonly]) + label {
  color: var(--my-grey);
}

.input-field input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--my-grey);
  box-shadow: 0 1px 0 0 var(--my-grey);
}

.input-field .prefix.active {
  color: var(--my-grey);
}

/* validation colours */
.input-field input.valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}

.input-field input.invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.btn {
  background-color: var(--my-grey);
  color: var(--my-white);
}

.btn:hover {
  background-color: var(--my-green);
}
