/* ---------------------------------------Custom colours */
:root {
  --my-red: #de5454;
  --my-green: #006600;
  --my-orange: #ff9747;
  --my-grey: #474747;
  --my-white: #fafafa;
  --my-beige: #e9d1ac;
}

/* applies a film over the background to make it less intense */
body::before {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: -1;
}
/* ------------------------------------------------Fonts */
body {
  font-family: "Glory", sans-serif;
  color: var(--my-grey);
  padding-top: 56px;
  height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--my-grey);
}

/* -----------------------------------------------Header */
nav {
  background-color: var(--my-orange);
  height: 56px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: +2;
}

.nav-wrapper a {
  font-family: "Josefin Sans", sans-serif;
  color: var(--my-grey);
  cursor: pointer;
}

.my-logo {
  position: absolute;
  display: inline-block;
  font-size: 2.5rem;
  padding-left: 1rem;
  font-weight: 600;
}

/* -----------------------------------------------Footer */
.page-footer {
  background-color: var(--my-grey);
  color: var(--my-white);
}

.page-footer h5,
.page-footer a {
  color: var(--my-white);
}

.footer-copyright a {
  font-size: 200%;
  padding: 0 0.5rem;
  cursor: pointer;
}

/* -----------------------------------------------modals */
.modal-footer {
  display: flex;
  justify-content: space-between;
}

/* flash styling */
.error {
  border: 10px solid var(--my-red);
}

.error h3 {
  color: var(--my-red);
}

.success {
  border: 10px solid var(--my-green);
}

.success h3 {
  color: var(--my-green);
}

/* -----------------------------------------card styling */
.card-panel {
  background-color: var(--my-white);
  color: var(--my-grey);
}

.tile-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  width: 300px;
  height: 300px;
  margin: 1rem;
  background-color: var(--my-beige);
}

.my-card {
  margin-top: 4rem;
}

/* -------------------------------------------------home */
.hero-image-box {
  background: url("./../img/hero1.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
}

.spacer {
  padding-top: 4rem;
}

.title-panel {
  background-color: #fafafaee;
}

h1 {
  margin-bottom: 0;
}

.title-panel a {
  color: var(--my-green);
  font-weight: bold;
}

.tag-line {
  font-size: 200%;
  margin-top: 0;
}

.browse-panel {
  margin-top: 150px;
}

#flashMessages {
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

/* -----------------------------------------------recipe */
.steps-row {
  margin: 2rem 0;
  padding-bottom: 2rem;
}

.buttons-row {
  padding-bottom: 2rem;
}

.recipe-card .row {
  margin-bottom: 0;
}

.recipe-card .row .col {
  padding: 0 2rem;
}

.recipe-card ul {
  list-style: none;
}

.specifications .col {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.specifications .col p {
  margin: 0 2rem;
}

.recipe-steps li {
  text-indent: -36px;
  padding-left: 36px;
}

.favorites {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.favorites span {
  padding-right: 0.5rem;
}

.favorites i {
  font-size: 150%;
  color: var(--my-grey);
}

/* ------------------------------------------------forms */
/* focus colours */
.input-field input:not(.browser-default):focus:not([readonly]) + label,
.input-field textarea.materialize-textarea:focus:not([readonly]) + label {
  color: var(--my-grey);
}

.input-field input:not(.browser-default):focus:not([readonly]),
.input-field textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--my-grey);
  box-shadow: 0 1px 0 0 var(--my-grey);
}

.input-field .prefix.active {
  color: var(--my-grey);
}

.btn,
.btn:focus {
  background-color: var(--my-green);
  color: var(--my-white);
}

.btn:hover {
  background-color: var(--my-orange);
  color: var(--my-grey);
  font-weight: bolder;
}

.cancel-button,
.cancel-button:focus {
  background-color: var(--my-red);
}

.cancel-button:hover {
  background-color: var(--my-white);
  color: var(--my-red);
  font-weight: bolder;
}

.edit-button {
  background-color: var(--my-orange);
  color: var(--my-grey);
}

.edit-button:hover {
  background-color: var(--my-grey);
  color: var(--my-orange);
  font-weight: bolder;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: var(--my-green);
  border-right: 2px solid var(--my-green);
  border-bottom: 2px solid var(--my-green);
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #00660033;
}

.switch p {
  margin-top: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--my-grey);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--my-grey);
}

#mobile-menu li form {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* -------------------------------------------Search Bar */
#query {
  height: 2rem;
}

.search-button {
  background-color: inherit;
  border: none;
}
