<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online cookbook designed to allow users to store all their recipes in one place and share them with our community">
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory:wght@300..800&family=Josefin+Sans:wght@300..700&display=swap"
      rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Cookbook</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('home') }}" class="my-logo">Cookbook</a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger right"><i title="menu-button" class="fas fa-bars"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}
              <li><a href="{{ url_for('profile', username = session['user']) }}">Profile</a></li>
              <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
              <li><a href="#logoutModal" class="modal-trigger">Log out</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Log in</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            <li>
              <form action="{{ url_for('search') }}" method="POST">
                <div class="valign-wrapper">
                  <input type="text" name="query" id="query" minlength="3"
                    placeholder="Search Recipes" required>
                  <button type="submit" class="search-button"><i title="search" class="fas fa-search"></i></button>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-menu">
        <li>
          <form action="{{ url_for('search') }}" method="POST">
            <div class="valign-wrapper">
              <input type="text" name="query" id="mobile-query" minlength="3"
                placeholder="Search Recipes" required>
              <button type="submit" class="search-button"><i title="search" class="fas fa-search"></i></button>
            </div>
          </form>
        </li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if session.user %}
          <li><a href="{{ url_for('profile', username = session['user']) }}">Profile</a></li>
          <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
          <li><a href="#logoutModal" class="modal-trigger">Log out</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Log in</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </header>

    <!-- flash messages -->
    <section>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="row" id="flashMessages" >
              <div class="col s10 m8 offset-s1 offset-m2 flashes card-panel {{ category }}">
                <h3 class="center-align">{{ message }}</h3>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

    <!-- logout modal -->
    <section>
      <div id="logoutModal" class="modal">
        <div class="modal-content center-align">
          <h3>Are you sure?</h3>
        </div>
        <div class="row">
          <div class="col s10 m6 offset-s1 offset-m3 modal-footer">
            <a href="{{ url_for('logout') }}" class="modal-close btn">Log out</a>
            <button name="cancel" class="modal-close btn cancel-button">Cancel</button>
          </div>
        </div>
      </div>
    </section>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col m6 s12">
            <h4>Need Equipment?</h4>
            <p>Take a look at these sites. They have all been recommended by our users</p>
          </div>
          <div class="col m4 offset-m2 s12">
            <h5>Recommendations</h5>
            <ul>
              <li><a href="https://www.procook.co.uk/" target="_blank">ProCook</a></li>
              <li><a href="https://www.hartsofstur.com/" target="_blank">Harts of Stur</a></li>
              <li><a href="https://www.divertimenti.co.uk/" target="_blank">Divertamenti</a></li>
              <li><a href="https://www.kitchencraft.co.uk/" target="_blank">KitchenCraft</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 Copyright Cookbook
        <a class="right" href="https://www.facebook.com" target="_blank"><i title="facebook" class="fab fa-facebook-square hoverable"></i></a>
        <a class="right" href="https://www.instagram.com" target="_blank"><i title="instagram" class="fab fa-instagram-square hoverable"></i></a>
        <a class="right" href="https://www.pinterest.com" target="_blank"><i title="pinterest" class="fab fa-pinterest-square hoverable"></i></a>
        <a class="right" href="https://www.twitter.com" target="_blank"><i title="twitter" class="fab fa-twitter-square hoverable"></i></a>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
  </body>
</html>
