<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory:wght@300..800&family=Josefin+Sans:wght@300..700&display=swap"
      rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Cookbook</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('home') }}" class="my-logo">Cookbook</a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}
              <li><a href="{{ url_for('profile', username = session['user']) }}">Profile</a></li>
              <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
              <li><a href="#logoutModal" class="modal-trigger">Log out</a></li>
              {% if session.user|lower == "admin"|lower %}
                <li><a href="#">Manage Categories</a></li>
              {% endif %}
            {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if session.user %}
          <li><a href="{{ url_for('profile', username = session['user']) }}">Profile</a></li>
          <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
          <li><a href="#logoutModal" class="modal-trigger">Log out</a></li>
          {% if session.user|lower == "admin"|lower %}
            <li><a href="#">Manage Categories</a></li>
          {% endif %}
        {% else %}
        <li><a href="{{ url_for('login') }}">Log in</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </header>

    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <div  id="flashMessages" class="col s10 m8 offset-s1 offset-m2 flashes card-panel">
                <h3 class="center-align">{{ message }}</h3>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <section>
      <div id="logoutModal" class="modal">
        <div class="modal-content center-align">
          <h3>Are you sure?</h3>
        </div>
        <div class="modal-footer center-align">
          <a href="{{ url_for('logout') }}" class="modal-close btn">Log out</a>
          <a href="{{ url_for('home') }}" class="modal-close btn cancel-button">Cancel</a>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
  </body>
</html>
