{% extends "base.html" %}
{% block styles %}
  <style>
    body {
      background: url("{{ url_for('static', filename='img/hero3.jpg') }}") no-repeat center fixed;
      background-size: cover;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="row my-card">
    <div class="card-panel col s10 m8 offset-s1 offset-m2">
      <h2 class="center-align">Edit Category</h2>
      <form class="col s12 m10 offset-m1" action="{{ url_for('edit_category', category_id = category._id) }}" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="category" name="category" type="text" value="{{ category.category_name }}" minlength="3"
              maxlength="50" pattern="[a-zA-Z ]{3,50}$" class="validate" required>
            <label for="category">Category</label>
          </div>
        </div>
        <div class="row edit-buttons center-align">
          <button type="submit" name="button" class="btn edit-button">Update</button>
          <a href="#categoryModal" class="btn cancel-button modal-trigger">Delete</a>
          <a href="{{ url_for('profile', username = session['user']) }}" class="btn cancel-button">Cancel</a>
        </div>
      </form>
    </div>
  </div>

  <section>
    <div id="categoryModal" class="modal">
      <div class="modal-content center-align">
        <h3>Are you sure?</h3>
      </div>
      <div class="row">
        <div class="col s10 m6 offset-s1 offset-m3 modal-footer">
          <a href="{{ url_for('delete_category', category_id = category._id) }}" class="modal-close btn">Delete Category</a>
          <button class="modal-close btn cancel-button">Cancel</button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
