{% extends "base.html" %}
{% block styles %}
  <style>
    body {
      background: url("{{ url_for('static', filename='img/hero1.jpg') }}") no-repeat center fixed;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block content %}
  <section class="row spacer">
    <div class="col s12 m8 offset-m2 center-align title-panel">
      <h1>Cookbook</h1>
      <p class="tag-line">All your recipes in one place</p>
      <p>
        <a href="{{ url_for('login') }}">Log in</a> or <a href="{{ url_for('register') }}">Register</a> here to start
          sharing your favorite recipes with our community
      </p>
    </div>
  </section>

  <section class="card-panel browse-panel">
    <h2 class="center-align">Recently Added Recipes</h2>

    <div class="row tile-grid">
      {% for recipe in recipes %}
        <a href="{{ url_for('recipe', recipe_id = recipe._id) }}">
          <div class="card-panel hoverable tile beige">
            <div class="card-content fixed-height">
              <h3 class="card-title">{{ recipe.recipe_title }}</h3>
              <p>{{ recipe.recipe_description }}</p>
              <p>Uploaded by: {{ recipe.created_by }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
