{% extends "base.html" %}
{% block content %}

  <div class="s12 hero-image-box"></div>

  <h2 class="center">Browse Recipes</h2>

  <div class="row">
    <div class="col s12 m4">
      <div class="card-panel hoverable">
        <div class="card-content">
          <span class="card-title">Recipe Title</span>
          <p>
            Recipe Description. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel hoverable">
        <div class="card-content">
          <span class="card-title">Recipe Title</span>
          <ul>
            {% for category in categories %}
              <li>{{ category.category_name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel hoverable">
        <div class="card-content">
          <span class="card-title">Recipe Title</span>
          <p>
            Recipe Description. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="login" class="modal">
    <div class="modal-content">
      <h2 class="center-align">Log In</h2>
      <div class="row">
        <form class="col s10 m8 offset-m2" action="#" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-user-circle prefix"></i>
              <input id="username" name="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
              <i class="fas fa-lock prefix"></i>
              <input id="password" name="password" type="text" class="validate">
              <label for="password">Password</label>
            </div>
            <button type="submit" name="button" class="btn col s4 offset-s4">Log in</button>
          </div>
        </form>
      </div>
      <p class="center-align">
        Not a member yet?
        <a href="#register" class="modal-trigger"><strong>Register here</strong></a>
      </p>
    </div>
  </div>

  <div id="register" class="modal">
    <div class="modal-content">
      <h2 class="center-align">Register</h2>
      <div class="row">
        <form class="col s10 m8 offset-m2" action="#" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-user-plus prefix"></i>
              <input id="username" name="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
              <i class="fas fa-user-lock prefix"></i>
              <input id="password" name="password" type="text" class="validate">
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <i class="fas fa-user-lock prefix"></i>
              <input id="password-confirm" name="password-confirm" type="text" class="validate">
              <label for="password-confirm">Confirm Password</label>
            </div>
            <button type="submit" name="button" class="btn col s4 offset-s4">Log in</button>
          </div>
        </form>
      </div>
      <p class="center-align">
        Already a member?
        <a href="#login" class="modal-trigger"><strong>Log in here</strong></a>
      </p>
    </div>
  </div>

{% endblock %}
