{% extends "base.html" %}
{% block styles %}
  <style>
    body {
      background: url("{{ url_for('static', filename='img/hero1.jpg') }}") no-repeat center fixed;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block content %}
  <section class="card-panel browse-panel">
    <h2 class="center-align">Browse Recipes</h2>

    <div class="row tile-grid">
      {% for recipe in recipes %}
        <div class="card-panel hoverable tile">
          <div class="card-content">
            <h4 class="card-title">{{ recipe.recipe_title }}</h4>
            <p>{{ recipe.recipe_description }}</p>
            <p>Date uploaded (yy-mm-dd): {{ recipe.date_created }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
