{% extends "base.html" %}
{% block styles %}
  <style>
    body {
      background: url("{{ url_for('static', filename='img/hero1.jpg') }}") no-repeat center fixed;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s10 m8 offset-s1 offset-m2 card-panel">
      <h2 class="center-align">
        {{ username }}'s Profile
      </h2>
    </div>
  </div>

  <section class="card-panel">
    <h2 class="center-align">My Recipes</h2>
    <div class="row tile-grid">
      {% for recipe in recipes %}
        <a class="tile" href="{{ url_for('recipe', recipe_id = recipe._id) }}">
          <div class="card-panel hoverable">
            <div class="card-content">
              <h4 class="card-title">{{ recipe.recipe_title }}</h4>
              <p>{{ recipe.recipe_description }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
