{% extends "base.html" %}
{% block styles %}
  <style>
    body {
      background: url("{{ url_for('static', filename='img/hero1.jpg') }}") no-repeat center fixed;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block content %}
  {% if session.user|lower == "admin"|lower %}
    <div class="row">
      <div class="col s10 m8 offset-s1 offset-m2 card-panel">
        <h2 class="center-align">Admin Functions</h2>
      </div>
    </div>
    <section class="card-panel">
      <h2 class="center-align">Manage Categories</h2>
      <a class="center-align modal-trigger" href="#addCategoryModal">
        <div class="card-panel hoverable">
          <div class="card-content">
            <h5 class="card-title center-align">Add Category</h5>
          </div>
        </div>
      </a>
      <div class="row tile-grid">
        {% for category in categories %}
          <a href="{{ url_for('edit_category', category_id = category._id) }}">
            <div class="card-panel hoverable tile">
              <div class="card-content">
                <h5 class="card-title center-align">{{ category.category_name }}</h5>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </section>

    <section class="card-panel">
      <h2 class="center-align">Manage Users</h2>
      <div class="row tile-grid">
        {% for user in users %}
          <a href="{{ url_for('edit_user', user_id = user._id) }}">
            <div class="card-panel hoverable tile">
              <div class="card-content">
                <h5 class="card-title center-align">{{ user.username }}</h5>
                <p class="center-align">{{ user.email }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </section>
  {% else %}
    <div class="row">
      <div class="col s10 m8 offset-s1 offset-m2 card-panel">
        <h2 class="center-align">
          {{ username }}'s Profile
        </h2>
      </div>
    </div>

    <section class="card-panel">
      <h2 class="center-align">My Recipes</h2>
      <div class="row tile-grid">
        {% if recipes %}
          {% for recipe in recipes %}
            <a href="{{ url_for('recipe', recipe_id = recipe._id) }}">
              <div class="card-panel hoverable tile">
                <div class="card-content">
                  <h4 class="card-title">{{ recipe.recipe_title }}</h4>
                  <p>{{ recipe.recipe_description }}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        {% else %}
          <div>
            <h5 class="card-title center-align">No recipes added yet</h5>
          </div>
        {% endif %}
      </div>
    </section>
    <section class="card-panel">
      <h2 class="center-align">My Favorite Recipes</h2>
      <div class="row tile-grid">
        {% if recipes %}
          {% for recipe in my_favorites %}
            <a href="{{ url_for('recipe', recipe_id = recipe._id) }}">
              <div class="card-panel hoverable tile">
                <div class="card-content">
                  <h4 class="card-title">{{ recipe.recipe_title }}</h4>
                  <p>{{ recipe.recipe_description }}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        {% else %}
          <div>
            <h5 class="card-title center-align">No favorites added yet</h5>
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}

  <section>
    <div id="addCategoryModal" class="modal">
      <div class="modal-content center-align">
        <h3>Add New Category</h3>
      </div>
      <div class="row">
        <form class="col s10 offset-s1" action="{{ url_for('add_category') }}" method="POST">
          <div class="input-field">
            <input type="text" name="category" id="category" minlength="3" maxlength="20"
              pattern="[a-zA-Z ]{3,20}$" class="validate" required>
            <label for="category">Category Name</label>
          </div>
          <div class="row edit-buttons center-align">
            <button type="submit" class="btn modal-close">Add Category</button>
            <a href="" class="btn cancel-button modal-close">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
