{% extends "base.html" %}
{% block styles %}
  <style>
    body {
      background: url("{{ url_for('static', filename='img/hero3.jpg') }}") no-repeat center fixed;
      background-size: cover;
    }
  </style>
{% endblock %}
{% block content %}

  <div class="row my-card">
    <div class="card-panel col s12 m10 offset-m1 recipe-card">
      <div class="row">
        <div class="col s12 center-align">
          <h2>{{ recipe.recipe_title }}</h2>
          <p>{{ recipe.recipe_description }}</p>
        </div>
      </div>
      <div class="row specifications">
        <div class="col s10 offset-s1">
          <p><strong>Serving:</strong> {{ recipe.servings }}</p>
          <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
          <p><strong>Prep time:</strong> {{ recipe.prep_time }} minutes</p>
          <p><strong>Cook time:</strong> {{ recipe.cook_time }} minutes</p>
        </div>
      </div>
      <div class="row">
        <div class="favorites col s6 offset-s3 valign-wrapper">
          {% if session.user %}
            {% if is_favorite == "yes" %}
              <span><strong>Add to favorites:</strong></span>
              <a href="{{ url_for('delete_favorite', recipe_id = recipe._id) }}">
                <i class="fas fa-thumbs-up"></i>
              </a>
            {% else %}
              <span><strong>Add to favorites:</strong></span>
              <a href="{{ url_for('add_favorite', recipe_id = recipe._id) }}">
                <i class="far fa-thumbs-up"></i>
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m10 offset-m1">
          <h3>Ingredients</h3>
          <ul>
            {% for ingredient in recipe.ingredients %}
              <li>{{ ingredient }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row steps-row">
        <div class="col s12 m10 offset-m1">
          <h3>Steps</h3>
          <ul class="recipe-steps">
            {% for step in recipe.steps %}
              <li><strong>Step {{ loop.index }}:</strong> {{ step }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% if session.user == recipe.created_by %}
      <div class="row buttons-row">
        <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class="btn col s3 offset-s2 edit-button">Edit Recipe</a>
        <a href="#deleteModal" class="modal-trigger btn cancel-button col s3 offset-s2">Delete Recipe</a>
      </div>
      {% endif %}
    </div>
  </div>

  <section>
    <div id="deleteModal" class="modal">
      <div class="modal-content center-align">
        <h3>Are you sure?</h3>
      </div>
      <div class="row">
        <div class="col s10 m6 offset-s1 offset-m3 modal-footer">
          <a href="{{ url_for('delete_recipe', recipe_id = recipe._id) }}" class="modal-close btn">Delete Recipe</a>
          <button class="modal-close btn cancel-button">Cancel</button>
        </div>
    </div>
  </section>

{% endblock %}
